.constants {
    width: 20px;
    height: 30px;
    margin: 5px;
    border: 1px dotted gray;
    text-align: center;
}

.constants::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}